
<table>
  <thead>
    <tr>
      <th>Your Cat!</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2"> <%= @cat.name %> </td>
      <td colspan="2"> <%= @cat.color %> </td>
      <td colspan="2"> <%= @cat.birth_date %> </td>
      <td colspan="2"> <%= @cat.sex %> </td>
      <td colspan="2"> <%= @cat.description %> </td>
    </tr>
  </tbody>
</table>





